@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@800;900&family=Plus+Jakarta+Sans:wght@300&family=Roboto&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #d1d5db;
  background: #000105;
}
.header {
  padding: 25px 0;
}
.logo {
  max-width: 188px;
}
.nav ul li a {
  padding: 10px;
  color: #e5e7eb;
}
.btn-ticket a {
  background: #fbb83b;
  color: #000;
  border-radius:999px;
  padding: 16px;
  font-size: .875rem;
  line-height: 1.25rem;
}
.main-page {
  position: relative;
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
  height: 100vh;
}
.banner-hero {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.banner-hero .text-hero {
  grid-column: 1 / 2;
  grid-row: 1/3;
}
.banner-hero .red-hero {
  grid-column: 2 / 3;
  grid-row: 1;
}
.banner-hero .yellow-hero {
  grid-column: 2 / 3;
  grid-row: 2;
}
.hero-title-small {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #d1d5db;
}
.hero-title-big {
  font-family: 'akira_expandedsuper_bold';
}
.font-jakarta {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.font-akira {
  font-family: 'akira_expandedsuper_bold';
}
.font-barlow {
  font-family: 'Barlow Condensed', sans-serif;
}