
@font-face {
    font-family: 'akira_expandedsuper_bold';
    src: url('akira_expanded_demo-webfont.woff2') format('woff2'),
         url('akira_expanded_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}